# Binaries
tools/TwitchExportBuilder
tools/TwitchExportBuilder.exe
tools/ChangelogGenerator.jar
tools/ModpackDownloader.jar

# Local Files
craftpresence/
crash-reports/
dumps/
local/
logs/
.mixin.out/
mods/
saves/
*.json
*.zip
!.build.json
BotaniaVars.dat
.curseclient
options.txt
reauth.toml

# Personal Files
secrets.ps1
