logs/
mods/
server/
config/eula.txt
.curseclient

.mixin.out/

craftpresence/

crash-reports/

tconplanner/

woot/

*.dat

servers.dat_old

usercache.json

usernamecache.json

journeymap/

modernfix/

saves/

emojiful/

resourcepacks/

fancymenu_data/

ears-debug.log

options.txt

patchouli_data.json

local/ftbchunks/data/
